{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <title>社員情報登録</title>
</head>
<body>
    <div class="d-flex p-2 bd-highlight mx-5">
    <h3>社員情報登録</h3>
    </div>
    <div class="mx-5 container-fluid">
    <span class="text-danger mx-5 container-fluid">*は必須入力項目です</span>
    <div class="d-flex p-2 bd-highlight mx-5">
        <form action="{% url 'main:example_create' %}" method="post" novalidate>
        <table class="table mx-5 container-fluid">
            {% csrf_token %}
            <tr>
                <td>社員番号<span class="text-danger">*</span></td>
                <td>{{ form.employeeNum }}</td>
                <td class="text-danger">
                    {% for error in form.employeeNum.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>氏名（漢字）<span class="text-danger">*</span></td>
                <td>{{ form.lastName }}</td>
                <td>{{ form.firstName }}</td>
                <td class="text-danger">
                    {% for error in form.lastName.errors %}
                        {{ error }}
                    {% endfor %}
                    {% for error in form.firstName.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>氏名（かな）<span class="text-danger">*</span></td>
                <td>{{ form.lastKanaName }}</td>
                <td>{{ form.firstKanaName }}</td>
                <td class="text-danger">
                    {% for error in form.lastKanaName.errors %}
                        {{ error }}
                    {% endfor %}
                    {% for error in form.firstKanaName.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>電話番号<span class="text-danger">*</span></td>
                <td>{{ form.phoneNumber }}</td>
                <td class="text-danger">
                    {% for error in form.phoneNumber.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>メールアドレス<span class="text-danger">*</span></td>
                <td>{{ form.email }}</td>
                <td class="text-danger">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>パスワード<span class="text-danger">*</span></td>
                <td>{{ form.password }}</td>
                <td class="text-danger">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>パスワード（確認）<span class="text-danger">*</span></td>
                <td>{{ form.password }}</td>
                <td class="text-danger">
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>生年月日<span class="text-danger">*</span></td>
                <td>{{ form.birthday }}</td>
                <td class="text-danger">
                    {% for error in form.birthday.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>性別<span class="text-danger">*</span></td>
                <td>
                {{ form.gender }}
                </td>
                <td class="text-danger">
                    {% for error in form.gender.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>部署<span class="text-danger">*</span></td>
                <td>{{ form.section }}</td>
                <td class="text-danger">
                    {% for error in form.section.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>自己紹介<span class="text-danger">*</span></td>
                <td>{{ form.jikoShokai }}</td>
                <td class="text-danger">
                    {% for error in form.jikoShokai.errors %}
                        {{ error }}
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="登録" name="regist"  class="btn btn-outline-primary">
                </td>
                <td>
                    <input type="reset" value="リセット" name="reset" class="btn btn-outline-secondary">
                </td>
            </tr>
            </table>
        </form>
    </div>
    </div>
</body>
</html>