{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="styleseet" href="{% static 'css/bootstrap.min.css'%}">
    <meta charset="UTF-8">
    <title>社員情報登録</title>
</head>
<body>
    <h3>社員情報登録</h3>
        <form action="{% url 'main:example_create' %}" method="post"><table border="0">
            {% csrf_token %}
            <tr>
                <td>社員番号</td>
                <td>{{ form.employeeNum }}</td>
            </tr>
            <tr>
                <td><b></b>氏名（漢字）</td>
                <td>{{ form.lastName }}</td>
                <td>{{ form.firstName }}</td>
            </tr>
            <tr>
                <td><b></b>氏名（かな）</td>
                <td>{{ form.lastKanaName }}</td>
                <td>{{ form.firstKanaName }}</td>
            </tr>
            <tr>
                <td><b></b>電話番号</td>
                <td>{{ form.phoneNumber }}</td>
            </tr>
            <tr>
                <td><b></b>メールアドレス</td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td><b></b>パスワード</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td><b></b>パスワード（確認）</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td>生年月日</td>
                <td>{{ form.birthday }}</td>
            </tr>
            <tr>
                <td>性別</td>
                <td>
                <input type="radio" name="gender" value="未選択">未選択
                <input type="radio" name="gender" value="男性">男性
                <input type="radio" name="gender" value="女性">女性
                </td>
            </tr>
            <tr>
                <td><b></b>部署</td>
                <td>{{ form.section }}</td>
            </tr>
            <tr>
                <td>自己紹介</td>
                <td>{{ form.jikoShokai }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                <input type="submit" value="登録" name="regist">
                <input type="reset" value="リセット" name="reset">
                </td>
            </tr>
            </table></form>
</body>
</html>